.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: rem(20);

  &__item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: rem(20);
  }

  &__question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &-title {
      font-size: rem(22);
      font-weight: 700;
      line-height: 130%;
      color: var(--colors-baltic-sea);
    }
  }

  &__content {
    position: relative;

    max-height: rem(75);
    overflow: hidden;

    transition: max-height var(--animation-timing) var(--animation-transition);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      opacity: 1;
      transition: opacity var(--animation-timing) var(--animation-transition);
    }

    &-text {
      font-size: rem(18);
      font-weight: 400;
      line-height: 150%;
      color: var(--colors-baltic-sea);
    }
  }

  &__checkbox:checked ~ .dropdown__content {
    max-height: rem(200);
  }

  &__checkbox:checked ~ .dropdown__content::before {
    opacity: 0;
  }

  &__plus {
    position: relative;

    width: rem(26);
    height: rem(26);
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--colors-alice-blue);
    border-radius: var(--radius-100);

    &-horizontal {
      position: absolute;

      display: block;
      width: rem(12);
      height: rem(2);

      background-color: var(--colors-baltic-sea);
    }

    &-vertical {
      position: absolute;

      display: block;
      width: rem(2);
      height: rem(12);

      background-color: var(--colors-baltic-sea);
      opacity: 1;
      transition: opacity var(--animation-timing) var(--animation-transition), transform var(--animation-timing) var(--animation-transition);
    }
  }

  &__checkbox:checked ~ .dropdown__question .dropdown__plus-vertical {
    transform: rotate(275deg);
    opacity: 0;
  }
}
