.footer {
  padding-top: rem(58);
  padding-bottom: rem(94);

  // & .logo__link {
  //   width: rem(140);
  // }

  &__container {
    display: flex;
    gap: rem(87);
  }

  &__nav {
    margin-bottom: rem(48);

    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: rem(12);

    &-link {
      font-size: rem(18);
      font-weight: 400;
      line-height: 150%;
      color: var(--colors-aluminium);
      opacity: 1;
      transition: opacity var(--animation-timing) var(--animation-transition);

      &:hover {
        opacity: .6;
      }
    }
  }

  &__copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: rem(16);
    font-weight: 400;
    line-height: 150%;
    color: var(--colors-baltic-sea);
    opacity: .45;
  }
}
