<div class="dropdown">
  <div class="dropdown__item">
    <input class="dropdown__checkbox" type="checkbox" id="question-0" hidden="" checked>
    <label class="dropdown__question" for="question-0">
      <h3 class="dropdown__question-title">
        Lorem ipsum dolor sit amet consectetur. Viverra nulla metus id sem?
      </h3>

      <div class="dropdown__plus">
        <span class="dropdown__plus-horizontal"></span>
        <span class="dropdown__plus-vertical"></span>
      </div>
    </label>
    <div class="dropdown__content">
      <p class="dropdown__content-text">
        Lorem ipsum dolor sit amet consectetur. Viverra nulla metus id sem. Dictum consectetur et nec pretium est nisi.
        Fusce
        quis ultrices neque aliquet eu amet. Tincidunt condimentum lacinia tincidunt vivamus nunc ut quis elementum sed.
        Dictum
        consectetur et nec pretium est nisi. Fusce quis ultrices neque aliquet eu amet. Lorem ipsum dolor sit amet.
        Lorem ipsum
        dolor sit amet consectetur. Viverra nulla metus id sem. Dictum consectetur et nec pretium est nisi. Fusce quis
        ultrices
        neque aliquet eu amet. Tincidunt condimentum lacinia tincidunt vivamus nunc ut quis elementum sed. Dictum
        consectetur et
        nec pretium est nisi. Fusce quis ultrices neque aliquet eu amet. Lorem ipsum dolor sit amet
      </p>
    </div>
  </div>
  <div class="dropdown__item">
    <input class="dropdown__checkbox" type="checkbox" id="question-1" hidden="">
    <label class="dropdown__question" for="question-1">
      <h3 class="dropdown__question-title">
        Lorem ipsum dolor sit amet consectetur. Viverra nulla metus id sem?
      </h3>

      <div class="dropdown__plus">
        <span class="dropdown__plus-horizontal"></span>
        <span class="dropdown__plus-vertical"></span>
      </div>
    </label>
    <div class="dropdown__content">
      <p class="dropdown__content-text">
        Lorem ipsum dolor sit amet consectetur. Viverra nulla metus id sem. Dictum consectetur et nec pretium est nisi.
        Fusce
        quis ultrices neque aliquet eu amet. Tincidunt condimentum lacinia tincidunt vivamus nunc ut quis elementum sed.
        Dictum
        consectetur et nec pretium est nisi. Fusce quis ultrices neque aliquet eu amet. Lorem ipsum dolor sit amet.
        Lorem ipsum
        dolor sit amet consectetur. Viverra nulla metus id sem. Dictum consectetur et nec pretium est nisi. Fusce quis
        ultrices
        neque aliquet eu amet. Tincidunt condimentum lacinia tincidunt vivamus nunc ut quis elementum sed. Dictum
        consectetur et
        nec pretium est nisi. Fusce quis ultrices neque aliquet eu amet. Lorem ipsum dolor sit amet
      </p>
    </div>
  </div>
  <div class="dropdown__item">
    <input class="dropdown__checkbox" type="checkbox" id="question-2" hidden="">
    <label class="dropdown__question" for="question-2">
      <h3 class="dropdown__question-title">
        Lorem ipsum dolor sit amet consectetur. Viverra nulla metus id sem?
      </h3>

      <div class="dropdown__plus">
        <span class="dropdown__plus-horizontal"></span>
        <span class="dropdown__plus-vertical"></span>
      </div>
    </label>
    <div class="dropdown__content">
      <p class="dropdown__content-text">
        Lorem ipsum dolor sit amet consectetur. Viverra nulla metus id sem. Dictum consectetur et nec pretium est nisi.
        Fusce
        quis ultrices neque aliquet eu amet. Tincidunt condimentum lacinia tincidunt vivamus nunc ut quis elementum sed.
        Dictum
        consectetur et nec pretium est nisi. Fusce quis ultrices neque aliquet eu amet. Lorem ipsum dolor sit amet.
        Lorem ipsum
        dolor sit amet consectetur. Viverra nulla metus id sem. Dictum consectetur et nec pretium est nisi. Fusce quis
        ultrices
        neque aliquet eu amet. Tincidunt condimentum lacinia tincidunt vivamus nunc ut quis elementum sed. Dictum
        consectetur et
        nec pretium est nisi. Fusce quis ultrices neque aliquet eu amet. Lorem ipsum dolor sit amet
      </p>
    </div>
  </div>
</div>
