<footer class="footer">
  <div class="container footer__container">
    @include("logo.html")

    <nav class="footer__nav" title="Меню подвала">
      <div class="footer__wrapper">
        <a href="#" class="footer__wrapper-link">Инструкции по работе с программой</a>
        <a href="#" class="footer__wrapper-link">Рейтинг программ для планировки дома</a>
      </div>
      <div class="footer__wrapper">
        <a href="#" class="footer__wrapper-link">Скачать бесплатно</a>
        <a href="#" class="footer__wrapper-link">Цены и лицензии</a>
      </div>
      <div class="footer__wrapper">
        <a href="#" class="footer__wrapper-link">Контакты</a>
        <a href="#" class="footer__wrapper-link">Техническая поддержка</a>
      </div>
    </nav>
  </div>

  <span class="footer__copyright">
    © Мой Дом 3D 2023 Копирование запрещено
  </span>
</footer>
