<section class="hero">
  @include("facade-breadcrumbs.html")

  <div class="container hero__container">
    <div class="hero__content">
      <div class="hero__inner">
        <h1 class="hero__inner-title">
          Как выбрать отделку фасада для частного дома
        </h1>
        <p class="hero__inner-description">
          Lorem ipsum dolor sit amet consectetur. Turpis risus lorem id faucibus convallis ut. Vel in nunc lacus sagittis ac at varius
        </p>
      </div>

      <div class="hero__autor">
        <picture class="hero__autor-picture">
          <source srcset="img/hero/autor-danilenko.webp" type="image/webp">
          <img loading="lazy" src="img/hero/autor-danilenko.png" class="hero__autor-image" width="42" height="42" alt="Аватарка автора">
        </picture>

        <div class="hero__autor-wrapper">
          <h2 class="hero__autor-wrapper-name">Арсений Даниленко</h2>
          <p class="hero__autor-wrapper-article">Автор статьи</p>
        </div>
      </div>
    </div>

    <div class="hero__image">
      <picture>
        <source srcset="img/hero/house.webp" type="image/webp">
        <img loading="lazy" src="img/hero/house.png" width="770" height="400" alt="Фоновое изображение дома">
      </picture>
    </div>
  </div>
</section>
