<nav class="nav" title="Меню сайта">
  <ul class="list-reset nav__list">
    <li class="nav__item"><a href="#beginning" class="nav__link mobile-tap">Начало работы</a></li>
    <li class="nav__item"><a href="#guide" class="nav__link mobile-tap">Гид по строительству и дизайну</a></li>
    <li class="nav__item"><a href="#support" class="nav__link mobile-tap">
      <svg class="nav__link-image">
        <use xlink:href="img/sprite.svg#heart"></use>
      </svg>
      <span>Поддержка</span>
    </a></li>
  </ul>
</nav>
