<section class="preview">
  <div class="container preview__container">
    <h2 class="preview__title">
      Enim tincidunt interdum ipsum elementum
    </h2>

    <div class="preview__video">
      <a class="preview__video-link" href="https://www.youtube.com/watch?v=PjL7JiO1KGQ" data-fancybox="video-gallery">
        <img class="preview__video-link-image" src="https://i.ytimg.com/vi/PjL7JiO1KGQ/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBLDsXURZZ5L29TIwIGElzhmmrcxQ" width="971" height="537" alt="Превью видео">
      </a>
    </div>

    <p class="preview__description">
      Lorem ipsum dolor sit amet consectetur. Viverra nulla metus id sem. Dictum consectetur et nec pretium est nisi. Fusce quis ultrices neque aliquet eu amet. Tincidunt condimentum lacinia tincidunt vivamus nunc ut quis elementum sed. Malesuada vel sodales lobortis convallis auctor.
    </p>

    <ul class="preview__advantages list-reset">
      <li class="preview__advantages-item">
        Lorem ipsum dolor sit amet consectetur. Viverra nulla metus id sem. Tincidunt condimentum lacinia tincidunt
      </li>
      <li class="preview__advantages-item">
        Dictum consectetur et nec pretium est nisi. Fusce quis ultrices neque neque aliquet eu amet.
      </li>
      <li class="preview__advantages-item">
        Fusce quis ultrices neque aliquet eu amet. Gravida elit placerat egestas.
      </li>
      <li class="preview__advantages-item">
        At sit fames enim facilisis sem. Gravida elit placerat egestas tempor. Enim tincidunt interdum ipsum elementum
      </li>
    </ul>
  </div>
</section>
