<section class="product">
  <div class="container product__container">
    <div class="product__wrapper">
      <div class="product__swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide product__slide">
            <picture>
              <source srcset="img/product/house-slide.webp" type="image/webp">
              <img loading="lazy" src="img/product/house-slide.png" class="product__slide-image" width="" height="" alt="Изображение дома">
            </picture>
          </div>
          <div class="swiper-slide product__slide">
            <picture>
              <source srcset="img/product/house-slide.webp" type="image/webp">
              <img loading="lazy" src="img/product/house-slide.png" class="product__slide-image" width="" height="" alt="Изображение дома">
            </picture>
          </div>
          <div class="swiper-slide product__slide">
            <picture>
              <source srcset="img/product/house-slide.webp" type="image/webp">
              <img loading="lazy" src="img/product/house-slide.png" class="product__slide-image" width="" height="" alt="Изображение дома">
            </picture>
          </div>
          <div class="swiper-slide product__slide">
            <picture>
              <source srcset="img/product/house-slide.webp" type="image/webp">
              <img loading="lazy" src="img/product/house-slide.png" class="product__slide-image" width="" height="" alt="Изображение дома">
            </picture>
          </div>
        </div>
      </div>
      <div class="product__pagination swiper-pagination"></div>
    </div>

    <div class="product__content">
      <p class="product__content-description">
        Lorem ipsum dolor sit amet consectetur. Viverra nulla metus id sem. Dictum consectetur et nec pretium est nisi. Fusce quis ultrices neque aliquet eu amet. Tincidunt condimentum lacinia tincilesuada vel sodales lobortis convallis auctor. At sit fames enim facilisis sem. Gravida elit placerat egestas tempor.
      </p>

      <div class="product__content-inner">
        @include('link-download.html')
        <span class="product__content-inner-for">Для
          <svg class="product__content-inner-for-image">
            <use xlink:href="img/sprite.svg#windows-logo"></use>
          </svg> Windows 7, 8, 10, 11
        </span>
      </div>
    </div>
  </div>
</section>
