// @include font-face("Muller", "../fonts/MullerRegular", 400, normal);
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Regular/NunitoSans-Regular.woff2') format('woff2'),
    url('../fonts/NunitoSans-Regular/NunitoSans-Regular.woff') format('woff'),
    url('../fonts/NunitoSans-Regular/NunitoSans-Regular.ttf') format('ttf'),
    url('../fonts/NunitoSans-Regular/NunitoSans-Regular.eot') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Semi-Bold/NunitoSans-SemiBold.woff2') format('woff2'),
    url('../fonts//NunitoSans-Semi-Bold/NunitoSans-SemiBold.woff') format('woff'),
    url('../fonts//NunitoSans-Semi-Bold/NunitoSans-SemiBold.ttf') format('ttf'),
    url('../fonts//NunitoSans-Semi-Bold/NunitoSans-SemiBold.eot') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter-Medium/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter-Medium/Inter-Medium.ttf') format('ttf'),
    url('../fonts/Inter-Medium/Inter-Medium.eot') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
