// если вы хотите использовать sass-переменные - удалите root
:root {
  // base
  --font-family: "Nunito Sans", sans-serif;
  --font-family-secondary: "Inter", sans-serif;
  --content-width: #{rem(1126)};
  --container-offset: #{rem(15)};
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --colors-black: #000000;
  --colors-white: #ffffff;
  --colors-storm-grey: #6B707E;
  --colors-mountain-meadow: #19B37D;
  --colors-elm: #258D7F;
  --colors-baltic-sea: #343A40;
  --colors-lavender: #EBEBEC;
  --colors-alice-blue: #EBEDEE;
  --colors-aluminium: #8D8F91;
  --colors-link-download: linear-gradient(268deg, #0057FF 1.64%, #259BFF 97.95%);
  --colors-link-download-hover: linear-gradient(268deg, #0057FF 1.64%, #0057FF 97.95%);
  --colors-buy: linear-gradient(87deg, #19B37D 13.35%, #188A7B 86.33%);
  --colors-hero-background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%), linear-gradient(90deg, #E9DEFA 0%, #FBFCDB 100%);
  --colors-pagination-active: linear-gradient(211deg, #999595 16.04%, #585858 85.53%);

  // box-shadow:
  --link-download: 0px 2px 22px 0px rgba(0, 87, 255, 0.43);
  --video: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);

  // border-radius
  --radius-5: #{rem(5)};
  --radius-7: #{rem(7)};
  --radius-100: #{rem(100)};

  // animation
  --animation-timing: .3s;
  --animation-transition: ease-in-out;
}
